.container ul {
  list-style-type: disc;
}

.container li h1 {
  margin-bottom: 10px;
  font-size:2em;
}

.container a {
  text-decoration: none;
  color: #000000;
}

.container p{
  margin-bottom:1em;
}

.postContent {
  padding-left: 5%;
}
