
<header class="header dark-bg">
    <a href="#menu" class="mobile-only mobile-menu-button button"> <i class="icon fa fa-fw fa-bars icon-menu" aria-hidden="true"></i> </a>
    <div class="logo header-module">
        <h1 class="logo-text"><a href="/">Seattle MetroLab</a></h1>
        <h1 class="logo-image">
            <a href="/">
                <img src="http://i.imgur.com/bJW9WMa.png" alt="MetroLab Project Ideas">
            </a>
        </h1> </div>
    <div class="tagline-banner">
        <h3 class="tagline"><span>The <a href="http://metrolab.heinz.cmu.edu/">MetroLab Network</a> is a national consortium of City-University pairs working to advance civic tech, smart cities, urban scholarship, and data-driven governance. We are the Seattle arm of the MetroLab Network, sponsored by the UW eScience Institute and Urban@UW</span></h3> </div>
    <nav>
	<ul>
	    	<li><a href="/">Home</a></li>
	    	<li><a href="/about.html">About</a></li>
		    <li><a href="/news">News</a></li>
	    	<!--<li><a href="https://metrolab.herokuapp.com">Ideas</a></li>-->
	    	<li><a href="/projects.html">Projects</a></li>
	</ul>
	</nav>
</header>
